<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulberry</title>
</head>

<footer th:fragment="${footer}">

    <div class="rodape">
      <div class="coluna1 colunas">
        <h5>Navegação</h5>
        <a href=""><p>Séries Populares</p></a>
        <a href=""><p>Séries em Simulcast</p></a>
        <a href=""><p>Calendário de Lançamentos</p></a>
        <a href=""><p>Notícias</p></a>
        <a href=""><p>Jogos</p></a>
      </div>
      <div class="coluna2 colunas">
        <h5>Contate-nos</h5>
        <a href=""><p>YouTube</p></a>
        <a href=""><p>Facebook</p></a>
        <a href=""><p>X</p></a>
        <a href=""><p>Instagram</p></a>
        <a href=""><p>TikTok</p></a>
      </div>
      <div class="coluna3 colunas">
        <h5>MulBerry</h5>
        <a href=""><p>Sobre</p></a>
        <a href=""><p>Centro de Ajuda</p></a>
        <a href=""><p>Termos de Uso</p></a>
        <a href=""><p>Política de Privacidade</p></a>
        <a href=""><p>Política de Privacidade</p></a>
      </div>
      <div class="coluna3 colunas">
        <h5>Conta</h5>
        <a href=""><p>Trocar de Perfil</p></a>
        <a href=""><p>Fila</p></a>
        <a href=""><p>Mullistas</p></a>
        <a href=""><p>Histórico</p></a>
        <a href=""><p>Minha Conta</p></a>
      </div>
    </div>
  
    </footer>
 
</body>
</html>
